/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #059268;
}

.table th, .table td {
    text-align: center;
}

.btn-primary {
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}
