<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Tourist</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Add New Tourist</h1>
<form th:action="@{/tourist/save}" method="post">
    <label for="fullName">ФИО:</label>
    <input type="text" id="fullName" name="fullName" th:value="${tourist.fullName}" required/><br/>

    <label for="gender">Пол:</label>
    <select id="gender" name="gender" th:value="${tourist.gender}">
        <option value="">Выберите пол</option>
        <option value="male" th:selected="${tourist.gender} == 'male'">Мужской</option>
        <option value="female" th:selected="${tourist.gender} == 'female'">Женский</option>
    </select><br/>

    <label for="birthday">Дата рождения:</label >
    <input type="date" id="birthday" name="birthday" th:value="${tourist.birthday}" required/><br/>

<!--    <label for="section">Секция:</label>-->
<!--    <select id="section" name="section.id">-->
<!--        <option th:each="section : ${sections}"-->
<!--                th:value="${section.id}"-->
<!--                th:text="${section.name}">Section name</option>-->
<!--    </select><br/>-->

<!--    <label for="category">Категория сложности:</label>-->
<!--    <input type="number" id="category" name="category" th:value="*{category}" required/><br/>-->

    <!-- Контактные данные -->
    <label for="mainPhone">Основной телефонный номер:</label>
    <input type="text" id="mainPhone" name="mainPhone" th:value="${contact.mainPhone}" required /><br/>

    <label for="email">Электронная почта:</label>
    <input type="email" id="email" name="email" th:value="${contact.email}" required/><br/>

    <label for="reservePhone">Второй номер телефона:</label>
    <input type="text" id="reservePhone" name="reservePhone" th:field="${contact.reservePhone}" /><br/>

    <label for="emergencyPhone">Экстренный номер телефона:</label>
    <input type="text" id="emergencyPhone" name="emergencyPhone" th:field="${contact.emergencyPhone}" /><br/>

    <button type="submit">Добавить</button>
</form>
<a href="/tourist">Вернуться к списку туристов</a>
</body>
</html>