<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Редактировать туриста</h1>
    <form th:action="@{/tourist/update}" method="post" class="mt-4">
        <input type="hidden" name="id" th:value="${tourist.id}" />
        <div class="form-group">
            <label for="fullName">ФИО:</label>
            <input type="text" class="form-control" id="fullName" name="fullName" th:value="${tourist.fullName}" required/>
        </div>
        <div class="form-group">
            <label for="gender">Пол:</label>
            <select class="form-control" id="gender" name="gender" th:value="${tourist.gender}">
                <option value="" disabled>Выберите пол</option>
                <option value="male" th:selected="${tourist.gender} == 'male'">Мужской</option>
                <option value="female" th:selected="${tourist.gender} == 'female'">Женский</option>
            </select>
        </div>
        <div class="form-group">
            <label for="typeId">Тип туриста:</label>
            <select class="form-control" id="typeId" name="typeId" th:value="${tourist.type.id}">
                <option value="" disabled="">Выберите тип туриста</option>
                <option th:each="type : ${touristTypes}" th:value="${type.id}" th:text="${type.name}" th:selected="${tourist.type.id} == ${type.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="birthday">Дата рождения:</label>
            <input type="date" class="form-control" id="birthday" name="birthday" th:value="${tourist.birthday}" required/>
        </div>
        <div class="form-group">
            <label for="mainPhone">Основной телефонный номер:</label>
            <input type="text" class="form-control" id="mainPhone" name="mainPhone" th:value="${tourist.contacts.mainPhone}" required pattern="\+7-\d{3}-\d{3}-\d{2}-\d{2}" title="+7-000-000-00-00"/>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта:</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${tourist.contacts.email}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email@domen.ru"/>
        </div>
        <div class="form-group">
            <label for="reservePhone">Второй номер телефона:</label>
            <input type="text" class="form-control" id="reservePhone" name="reservePhone" th:field="${tourist.contacts.reservePhone}" pattern="\+7-\d{3}-\d{3}-\d{2}-\d{2}" title="+7-000-000-00-00"/>
        </div>
        <div class="form-group">
            <label for="emergencyPhone">Экстренный номер телефона:</label>
            <input type="text" class="form-control" id="emergencyPhone" name="emergencyPhone" th:field="${tourist.contacts.emergencyPhone}" pattern="\+7-\d{3}-\d{3}-\d{2}-\d{2}" title="+7-000-000-00-00"/>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <a href="/tourist" class="btn btn-secondary mt-3">Вернуться к списку туристов</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
