<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<!--    <div class="alert alert-danger mt-4">-->
<!--        <h4>Ошибка</h4>-->
<!--        <p th:text="${error}"></p>-->
<!--        <div th:if="${suggestFix}">-->
<!--            <a th:href="@{'/trainer/new/' + ${tourist.id}}" class="btn btn-primary">Создать запись тренера</a>-->
<!--            <a th:href="@{'/tourist/edit/' + ${tourist.id}}" class="btn btn-warning">Редактировать туриста</a>-->
<!--        </div>-->
<!--    </div>-->
    <a href="/" class="btn btn-secondary mt-3">Вернуться в главное меню</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
